<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form id="login" action="/dashboard" method="post" name="insertschedule">
               
                 <input type="time" name="start_time" id="start_time">
                 <input type="time" name="end_time" id="end_time">
       
                        <select name="day_of_the_week" id="day_of_the_week">
                        <option value="1">Monday</option>
                        <option value="2">Tuesday</option>
                        <option value="3">Wednesday</option>
                        <option value="4">Thursday</option>
                        <option value="5">Friday</option>
                        <option value="6">Saturday</option>
                        <option value="7">Sunday</option>
                        </select>

                      <input type="submit" name="submit" value="submit">

</form>

<br>
 <div class="table_container">

        <table class="table mb-5 ">
            <thead class=" ">
                <tr>
                    <th scope="col">#</th>
                    <th>Day of the Week</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
          
               {{#each result}} 
                     <tr> 
                        <td>{{ID}}</td>  
                        <td>{{day_of_the_week}}</td>
                        <td>{{start_time}}</td>
                        <td>{{end_time}}</td>
                    </tr>
                {{/each}} 
            </tbody>
        </table>
    </div>
    
        <a href="/dashboard"><p>Back to view schedules</p></a>